.primaryContentChild {
  height: 56px;
  width: 56px;
  position: relative;
  z-index: 1;
}
.label {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.labelContainer,
.primaryContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelContainer {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.primaryContent {
  flex-direction: row;
  gap: var(--gap-xs);
}
.label1,
.uiKit,
.walletApp {
  margin: 0;
}
.label1 {
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.ratingStarIcon {
  width: 57.6px;
  height: 57.6px;
  position: absolute;
  margin: 0 !important;
  right: 66.4px;
  bottom: -1.6px;
  object-fit: contain;
  z-index: 2;
}
.checkIcon,
.labelParent {
  position: relative;
  flex-shrink: 0;
}
.labelParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  debug_commit: 1de1738;
}
.checkIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.checklistItemRow {
  height: 32px;
  width: 32px;
  border-radius: 1490.07px;
  background-color: var(--color-limegreen);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
}
.premadeScreen {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.checklistGrid,
.featureDescriptionRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.checklistGrid {
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 0;
  gap: var(--gap-5xl);
}
.checkIcon1,
.checkWrapper {
  overflow: hidden;
  flex-shrink: 0;
}
.checkIcon1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.checkWrapper {
  height: 32px;
  width: 32px;
  border-radius: 1490.07px;
  background-color: var(--color-limegreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
}
.neatlyOrganized {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.checklistGrid1,
.neatlyOrganizedLayerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.neatlyOrganizedLayerWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.checklistGrid1 {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.checkContainer,
.checkIcon2 {
  overflow: hidden;
  flex-shrink: 0;
}
.checkIcon2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.checkContainer {
  height: 32px;
  width: 32px;
  border-radius: 1490.07px;
  background-color: var(--color-limegreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
}
.designSystemIncluded {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.designSystemIncludedWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.checklistGrid2,
.designSystemIncludedWrapper,
.featureChecklist,
.secondaryContentArea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checklistGrid2 {
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 0;
  gap: var(--gap-5xl);
}
.featureChecklist,
.secondaryContentArea {
  flex-direction: column;
}
.featureChecklist {
  gap: var(--gap-10xl-8);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
  font-size: var(--heading-h5-size);
  color: var(--greyscale-200);
  font-family: var(--heading-h5);
}
.secondaryContentArea {
  padding: 0 0 var(--padding-53xl-4);
  gap: var(--gap-52xl);
  font-size: var(--font-size-45xl);
  font-family: var(--font-inter-display-v);
}
.frameChild,
.frameItem {
  height: 60.9px;
  position: relative;
}
.frameChild {
  width: 60.9px;
  min-height: 61px;
  z-index: 1;
}
.frameItem {
  width: 227.5px;
  border-radius: 76.08px;
  background-color: var(--primary-300);
  display: none;
}
.lightDark {
  position: relative;
  font-size: var(--font-size-2xl-3);
  line-height: 120%;
  font-family: var(--heading-h2);
  color: var(--others-white);
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.frameParent,
.mainContentArea,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-7) var(--padding-base) var(--padding-lg-3)
    var(--padding-lgi);
  background-color: var(--primary-300);
  border-radius: 76.08px;
  white-space: nowrap;
  z-index: 1;
}
.rectangleParent:hover {
  background-color: var(--color-dodgerblue);
}
.frameParent,
.mainContentArea {
  gap: var(--gap-2xs-6);
}
.mainContentArea {
  flex-direction: column;
  gap: var(--gap-46xl);
  min-width: 311px;
  text-align: left;
  font-size: var(--heading-h2-size);
  color: var(--others-white);
  font-family: var(--heading-h2);
}
@media screen and (max-width: 1275px) {
  .mainContentArea {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .label {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }
  .label1 {
    font-size: var(--font-size-32xl);
    line-height: 56px;
  }
}
@media screen and (max-width: 450px) {
  .label {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
  .label1 {
    font-size: var(--font-size-19xl);
    line-height: 42px;
  }
  .designSystemIncluded,
  .neatlyOrganized,
  .premadeScreen {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .secondaryContentArea {
    gap: var(--gap-16xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .mainContentArea {
    gap: var(--gap-13xl);
  }
}
