@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Display+V:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --heading-h2: "SF Pro Display";
  --heading-h5: "Inter Tight";
  --font-inter-display-v: "Inter Display V";

  /* font sizes */
  --font-size-2xl-3: 21.3px;
  --heading-h5-size: 20px;
  --font-size-base: 16px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --heading-h2-size: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --background-loud-900: #0d0d12;
  --primary-300: #3777fe;
  --color-dodgerblue: #5291ff;
  --others-white: #fff;
  --greyscale-200: #e5e7eb;
  --color-limegreen: #1bc256;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-46xl: 65px;
  --gap-13xl: 32px;
  --gap-2xs-6: 10.6px;
  --gap-52xl: 71px;
  --gap-16xl: 35px;
  --gap-10xl-8: 29.8px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-88xl: 107px;
  --padding-base-7: 16.7px;
  --padding-base: 16px;
  --padding-lg-3: 18.3px;
  --padding-lgi: 19px;
  --padding-53xl-4: 72.4px;
  --padding-28xl: 47px;
  --padding-3xs: 10px;
  --padding-11xs: 2px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-18xl: 37px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-57xl-1: 76.1px;
  --br-1471xl-1: 1490.1px;
}
